html{
    height:100%;
}
body{
    height:100%;
    width:100%;
    margin:0;
    padding:40px;
    box-sizing: border-box;
    overflow:hidden;
    color:white;
    background-position: center;
    background-image: url('../img/grass-flower-bg.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

canvas{
    background: transparent;
}

body.shrimp-mode{
    background-position: center;
    background-image: url('../img/sea-floor.jpg');
    background-size: 256px;
    background-repeat: repeat;
}

.content{
    height:100%;
    width:100%;
    position: relative;
    canvas{
        position: absolute;
        left:0;
        right:0;
        height:100%;
        width:100%;

    }
}